<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to KU Polls!</h1>
        <h2>
        {% if user.is_authenticated %}
                Welcome back, {{ user.username }} 
                <form action="{% url 'logout' %}" method="post"> 
                    {% csrf_token %} 
                   <button type="submit">Log Out</button> 
                 </form>
        {% else %}
                Please <a href="{% url 'login' %}?next={{request.path}}">Login</a>
        {% endif %}
        </h2>
    </header>

    <main>
        <h2>Available Polls</h2>
        {% if latest_question_list %}
            <ul class="poll-list">
            {% for question in latest_question_list %}
                <li>
                    {% if question.can_vote %}
                    <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                {% else %}
                <a href="{% url 'polls:results' question.id %}" style="color: red;" class="closed-poll">{{ question.question_text }} (Closed)</a>
                {% endif %}
                - <a href="{% url 'polls:results' question.id %}">Results</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </main>

</body>
</html>
